.sidebar {
  h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
