.main {
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0 0;
  gap: 0 0;
  grid-template-areas:
        "sidebar content"
        "sidebar content";
  height: 100vh;
  background-color: var(--color-neutrals-400);

  aside {
    grid-area: sidebar;
    width: 350px;
    background-color: white;
    padding: 1rem;
  }

  .content {
    grid-area: content;
    background-color: #f5f5f5;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
